<div id="particles-js"></div>
		
			<ul class="cb-slideshow">
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	        </ul>

			<div class="container-fluid">
				<div class="row cb-slideshow-text-container ">
					<div class= "tm-content d-flex flex-column  justify-content-center col-xl-6 col-sm-8 col-xs-8 section blocks">
						<header class="mb-5"><h1> Go Panda's</h1></header>
						<p class="mb-3 text-white h2">Decentralised, Secure & Free Conferencing</p>
						<p class="mb-5 text-light text-justify">Panda's is a new type of conferencing web app. 
							You choose where your messages are stored,
							 putting you in control of your data. 
							 It gives you access to the Matrix open network, so you can talk to anyone. Element provides a new level of security, 
							adding cross-signed device verification to default end-to-end encryption.</p>


					</div>
					<div class= "tm-content col-xl-6 col-sm-8 col-xs-8 section tutorial blocks">
							<div method="get" class="subscribe-form mt-5">
								<header class="mb-5"><h1> Meet / Host</h1></header>

							   <div class="row form-section">
	
								<div class="col-md-8 col-sm-8 col-xs-8">
                    <input (blur) = "validateinput($event)" name="name" type="text" class="form-control" 
                    [(ngModel)] ="name"
                    id="name" (blur) = "validateroom($event)" placeholder="Your Name" /><br>
                    <input name="room" type="text" class="form-control" 
                    [(ngModel)] ="roomnumber"
                    id="roomID" placeholder="Room name" required/>
                     <small class="d-flex mt-1 justify-content-end"><a (click) = "randomise()" href="#">Randomise room</a></small>
                     <small 
                     [ngClass]="(helptext==true)?'text-white form-text':'text-danger form-text'"
                   >
                     {{message}}
                   </small>
         
								  </div>
								<div class="col-md-5 col-sm-5  col-xs-5">
                  <button (click) ="joinRoom($event)" 
                   class="tm-btn-subscribe bg-transparent text-white" 
                   >Host | Join </button>
								</div>
							
							</div>
						
						
						</div>
						</div>
				</div>	
			</div>	