<div>
  <script>
    const ROOM_ID = "{{room}}";
  </script>
  <div id="cpy-link-model" class="modal" tabindex="-1" role="dialog">
  
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content  rounded bg-dark">
        <div class="modal-header text-white">
          <h5 class="modal-title ">Share link</h5>
          <button id="close-model-btn" 
          type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class=" expand-btn text-white p-4 modal-body">
          <p>You can share this link, to helps other join your room too.</p>
          <label for="">Shareable Link</label>
          <input id="shareable-cpy-link" type="text" class="form-control-lg form-control">
          <div class="w-100 text-center">
            <button id="cpy-text-btn" class="btn btn-outline-light text-center mx-0 mt-3">Copy to clipboard</button>

          </div>
        </div>
       
      </div>
    </div>
  </div>
  
    <div class="container-fluid" >
        <div class="row" style="height: 100vh;">
            <div class="col-md-9 video-block bg-black">
              <div class="mt-3 ml-1 ">
                <video id="my-video" class="main-video  bg-dark ">

                </video>

                <div class="video-container">
                  <div class="video    py-2 w-100">
                    
                    <div
                     style="height: auto !important"
                      id="other-users-video" class="other-users-video d-flex flex-column">

                

                      <!-- <div class="card single-user  text-white">
                        <div class="card-img bg-black-dark"></div>
                        <div class="card-img-overlay">
                          <h5 class="card-title">User</h5>
                          <div class="show-view mt-5 ">
                            <div class="btn option-btn  rounded-circle ">
                              <i class="fa fa fa-expand"></i>
                            </div>
                          </div>
                        </div>
                      </div> -->

                      
                    </div>
                  </div>
                </div> 


                  <div class="p-4 video-options w-100 ">
                      <div class="d-flex justify-content-center align-items-center">
                        <div id="expand-main" class="btn option-btn  rounded-circle ">
                          <i class="fa fa fa-expand"></i>
                        </div>
                        <div id="cpy-link-btn" class="btn option-btn  rounded-circle ">
                          <i class="fa fa fa-clone"></i>
                        </div>
                          <div id="main__mute_button" onclick="muteUnmute()"
                               class="btn option-btn  rounded-circle ">
                            <i  class="fas fa-microphone"></i>
                          </div>
                          <div 
                            onclick="playStop()"
                            class="btn option-btn  rounded-circle "
                            id="main__video_button"
                          >
                            <i class="fas fa-video"></i>
                          </div>
                          <a  href="/" class="btn option-btn end-call rounded-circle ">
                            <i class="fa fa-phone-alt"></i>
                          </a>
                          
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-md-3 shadow ">
              <div class="row message-block p-4 ">
                  <div class="col-md-12 px-0">
                      <h3 class="display-5 py-3  text-white font-weight-light">Room Chats</h3>
                      <!-- CHAT SECTION -->
                      <div  class=" mt-2   rounded ">
<!--                                   
                         <div class="msg-reciever">
                            <div class="name">
                              {{room}}
                            </div>
                              <div class="msg">
                                Regardless how much text is in the p I want to stick the
                              </div>
                           </div> -->
                          
<!--                 
                        <div class="helper ">
                            Qazi Amaan joined
                        </div>
                         <div class="msg-sender">
                          <div class="msg">
                              Regardless how much text is in the p I want to stick the
                          </div>
                        </div> -->

                         
                         
                         
                      </div>
                  </div>
                  
                  <div class="col-md-12 p-1 message-send  rounded bg-dark">
                      <textarea id="mesage-input" type="text" placeholder="Type a message or clear"
                      class="bg-dark text-white border-0 form-control form-control-lg"></textarea>
                  </div>
              </div>
            </div>
        </div>
    </div>

</div>